.box {
  border: 1px solid black;
  width: 75vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 0.5fr 2.9fr 0.3fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header side-chart"
    "main-chart side-chart"
    "footer footer";
}

.footer {
  grid-area: footer;
}

.side-chart {
  grid-area: side-chart;
}

.header {
  grid-area: header;
}

.main-chart {
  grid-area: main-chart;
}
